@import "../../../sass/main.scss";

.pagination {
  @include flexCenter(row);
  gap: 15px;
  padding: 50px;

  .pagination-item {
    position: relative;
    width: 15px;
    height: 25px;
    background: #fff;
    border: none;
    color: black;
    cursor: pointer;

    &.active {
      border-bottom: 2px solid black;
      margin-bottom: -2px;
      pointer-events: none;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .prev,
  .next {
    @include flexCenter(row);
    width: 25px;
    height: 25px;
    background: rgb(247, 247, 247);
    border: none;
    border-radius: 25px;
    color: black;
    cursor: pointer;
    margin: 0 10px;
    padding: 10px;

    &.disabled {
      box-shadow: none;
      color: #999;
      pointer-events: none;
    }
  }
}
