@import "../../../sass/main.scss";

.meal {
  @include flexCenter(row);
  width: calc(50% - 25px);
  height: 35vh;
  max-height: 250px;
  min-height: 210px;
  position: relative;
  justify-content: space-between;
  background-color: #f5f4f3;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.3s;

  &:nth-child(even) {
    flex-direction: row-reverse;

    .add-to-cart-container {
      left: 0;
    }
  }

  &:hover {
    transform: scale(1.05);
  }

  .meal-img {
    width: 35%;
    height: 100%;
    object-fit: cover;
  }

  .meal-info {
    @include flexCenter(column);
    height: 100%;
    position: relative;
    padding: 25px 50px;
    gap: 10px;
    text-align: center;

    h3 {
      color: $titleColor;
    }

    .meal-description {
      // Limit to paragraph length
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    @media screen and (max-height: 620px) {
      .meal-description {
        -webkit-line-clamp: 3 !important;
        line-clamp: 3 !important;
      }
    }

    .add-to-cart-container {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 5px;
    }
  }
}

@media screen and (max-width: 900px) {
  .meal {
    @include flexCenter(column);
    width: 80vw;
    height: fit-content;
    max-height: none;
    justify-content: space-between;

    &:nth-child(even) {
      @include flexCenter(column);
      justify-content: space-between;
    }

    .meal-img {
      height: 125px;
      width: 100%;
      object-fit: cover;
    }

    .meal-info {
      padding: 10px 40px;
    }

    .add-to-cart-container {
      position: static !important;

      .add-to-cart {
        width: 120px;

        span {
          width: 85px;
        }
      }
    }
  }
}
