@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "../../sass/main.scss";

h2 {
  padding: 50px;
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3.25rem;
  text-align: center;
}
