@import "../../../../sass/main.scss";

.user-form {
  width: 100%;

  form {
    @include flexCenter(column);
    align-items: flex-start;
    width: 100%;
    gap: 20px;

    label {
      @include flexCenter(column);
      align-items: flex-start;
      width: 100%;
      font-weight: bold;
      gap: 5px;
      font-size: 0.9rem;

      input {
        width: 100%;
        background-color: white;
        border: none;
        font-size: 0.9rem;
        border-bottom: 1px solid rgb(150, 150, 150);
        padding: 5px;
      }
    }

    button {
      align-self: flex-end;
      background-color: $titleColor;
      border: none;
      border-radius: 25px;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
      color: white;
      cursor: pointer;
      font-size: 0.9rem;
      font-weight: bold;
      padding: 10px 20px;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      margin-top: 30px;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}

.submitting-message {
  margin: 0 auto;
  padding: 30px 0;
  font-weight: bold;
  @include flexCenter(column);
  gap: 50px;
  text-align: center;
}
